.sidebar {
  text-align: left; 
  width: 160px;
  margin-left: 20px;
  padding: 10px;
  position: sticky;
  top: 20px; 
}

.sidebar-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.favorites-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.favorites-list li {
  margin-bottom: 5px;
  font-size: 16px;
}

.favorite-button {
  font-size: 24px; 
  background-color: transparent; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
}

.favorite-button:focus {
  outline: none; 
}

.favorite-button:hover {
  color: goldenrod; /* Change color on hover */
}

.remove-button {
  padding: 6px;
  background: none;
  border: none;
  color: rgb(240, 106, 106);
  cursor: pointer;
  font-size: 1.5rem;
}
