.sort-button {
    background-color: #1d1693;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    height: 2.5rem;
  }
  
  .sort-button.asc::after {
    content: " ▲";
  }
  
  .sort-button.desc::after {
    content: " ▼";
  }
  