.card {
  background-color: #f8f1f1;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 24rem;
  width: 18rem;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  max-height: calc(100% - 300px); /* Set a maximum height for the card body */
  overflow: auto; /* Enable scrolling for overflow content */
  padding: 20px; /* Add padding */
}

.card-title {
  font-size: 16px; /* Set a fixed font size for title */
}

.card-description {
  font-size: 12px; /* Set a fixed font size for description */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Display ellipsis for long text */
}

.button-container {
  position: absolute;
  bottom: 0;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  margin-bottom: 10px; /* Add margin to prevent overlap */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; /* Set a fixed height for the button container */
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}
