.reset-button {
    background-color: #d04556;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
  }
  
  .reset-button:hover {
    background-color: #de5563;
  }
  