/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Remove align-items: left; from app-container to prevent items from shifting left */
.app-container {
  text-align: center;
  padding: 20px;
  display: flex;
  /* align-items: left; */
  flex-direction: column;
}

.header {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* Fixed typo in justify-content */
}

.icon {
  height: 5rem;
  width: 5rem;
}

.title {
  margin: 0;
  font-size: 2rem;
  color: #343a40;
  text-align: left;
}

.pasta-display {
  display: flex;
  /* Ensure pasta menu takes up full width */
  flex: 1;
}

.menu-container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Display cards in four columns */
  gap: 25px; /* Add gap between cards */
  
}

.sidebar {
  width: 20%;
  padding: 10px;
  position: sticky;
  top: 20px;
  height: 100vh;
}

.title {
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
}

.pasta-display {
  display: flex;
  flex-direction: column;
}

/* Ensure sidebar maintains its size when no cards are present */
.menu-container:empty {
  display: flex;
}
