
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.header {
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 4rem;
  font-family: 'Pacifico';
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem; /* Adjust font size as needed */
  z-index: 1; /* Ensure text is above image */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(104, 104, 124, 0.5); /* Blue semi-transparent overlay */
}

.artwork {
  width: 100%;
  height: auto;
  z-index: 0; /* Ensure image is below text */
}

.art-description {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 12px; /* Adjust font size as needed */
}


.media-display {
  display: flex;
  flex-direction: column; /* Display children vertically */
}

.options {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Space between elements */
}

.main-container {
  display: flex;
}

.media-container {
  flex: 1; /* Occupy remaining space */
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 25px; 
  margin-right: 20px; /* Add margin to separate from sidebar */
}

.sidebar {
  width: 20%;
  padding: 10px;
  position: sticky;
  top: 20px;
  height: 100vh;
}



.main-container {
  display: flex;
  flex-direction: row;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
}

.media-display {
  display: flex;
  flex-direction: column;
}

/* ensures sidebar maintains shape when menu is empty*/
.menu-container:empty {
  display: flex;
}

.artwork{
  height: 30rem;
}